table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}


.table-header-1{
  background-color: aquamarine;
  column-width: 990px;
}
.table-header-2{
  background-color:yellow;
  border: none;

}

