@use '../abstracts/index' as *;
@use '../base/grid' ;

/* Header */
.hero-banner{
    background-image: url("../../assets/img/Group 33.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    h1{
        width: 350px;
        padding: 150px 0 0 100px ;
    }
}



.subscribe-area{
    position: absolute;
    bottom: -100px;

    background-color: white;
    border-radius: 0 0 10px 10px;
    margin: 0 100px;
    height:200px;

    display: flex;
    padding: 0 30px 0 50px;
    left:0;
    right: 0;


    .subscribe-text{
        flex:3;

        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;

        background: url("../../assets/img/Group 39.png");
        background-position: center center;
        background-size: cover;
    }

    form{
        flex:7;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-input{
            display: flex;
            align-items: center;
        }
        label{
            visibility:hidden;
        }
        input{
            // height: 20px;
        }
        .input-submit{
            // height: 50px;
        }
    }
}

/* end of Header */


/* about */
.about-section{
    background-image: url("../../assets/img/Group 26@3x.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px 100px 0 100px;

    height: 500px;

    .about-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &-wrapper{
     
            h3{
                margin: 20px 0;
            }

            &-desc{
                display: flex;

                .about-deco-vertical{
                    width: 10px;
                    height:50px;
                    background-color: $primary-color;
                    margin-right: 20px;
                    border-bottom-right-radius: 10px;
                }

            }

        }
    }

    .about-history{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;

        @media screen and (max-width:1100px){
            flex-direction: column;
            justify-content: flex-start;
            align-items:flex-start;
         }
     

        .about-experience{

            margin-bottom: 50px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .years:after{
                border-bottom: 10px solid #FF8800;
                content: '';
                display: block;
                width: 100%;
                padding: 5px;
                margin: auto;
                margin-bottom: 20px;
            }
        }
        .about-milestones{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);

            .about-milestones-item {
                width: 300px;
                height: 200px;
                background-color: aqua;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                &:hover{
                    cursor: pointer;
                    background-color: #FF8800;
                    box-shadow: 0 15px 15px rgba(144, 39, 83, 0.4);

                }

            }
            .about-milestones-one-of-four{
                grid-row: 1/2;
                grid-row: 1/2;
            }
            .about-milestones-two-of-four{
                grid-row: 2/3;
                grid-row: 1/2;
            }
            .about-milestones-three-of-four{
                grid-row: 1/2;
                grid-row: 2/3;
            }
            .about-milestones-four-of-four{
                grid-row: 2/3;
                grid-row: 2/3;
            }
        }
    }
}
/* end of about */


/* showcase  */
.showcase-lake{
    background: linear-gradient(to right, gray 0%, rgb(0, 0, 0, 0.8) 50%);
    border-bottom-right-radius: 30px;
    margin: 50px 100px;
    padding: 10px;

    display: flex;
    align-items: center;

    .img-wrapper{
        flex: 1;

        img{
            width: 100%;
            object-fit: cover;
        }

    }

    &-text-wrapper{
        flex: 2;

        display: flex;
        align-items: flex-end;

        .showcase-deco-vertical{
            width: 30px;
            height:100px;
            background-color: $primary-color;
            margin-right: 20px;
            border-bottom-right-radius: 10px;
        }

        .showcase-lake-text-wrapper-area{
            display: flex;
            align-items: center;


        @media screen and (max-width:1100px){
            flex-direction: column;
            justify-content: flex-start;
            align-items:flex-start;
         }

            .showcase-lake-text-wrapper-desc{
                flex: 3;
                h3{
                    margin-bottom:20px ;
                }
                display: flex;
                flex-direction: column;

            }
            .btn-wrapper{
                flex: 2;

                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }

}

.showcase-advantages{
    padding-left: 100px;

    display: flex;
    // align-items: flex-start;

    .showcase-advantages-text{
        flex: 2;

        h3{
            margin-bottom: 30px;
        }
        ul{
            padding-left: 30px;
            .dot{
                height: 10px;
                width: 10px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;

                margin-right: 10px;
                margin-top: 6px;
            }
            li{
                display: flex;
                // vertical-align: middle;

                margin-bottom: 10px;
            }
        }
        button{
            margin-left: 30px;
        }   
    }

    &-img{
        flex: 3;
        img{
            width: 100%;
        }
    }
}

.showcase-video{
    display: flex;
    padding-left: 100px;

    &-text-wrapper{
        flex: 1;

        border: 1px solid green;
        width: 350px;
        height: 300px;

        position: relative;

        img{
            position: absolute;
            left: 0px;
            bottom: 0px;

        }
        .showcase-video-text-desc{
            background-color: navy;
            width: 300px;
            height: 200px;

            position: absolute;
            right:-20px;
            top: 0;
            bottom: 0;
            margin: auto;


            
            h3{
                margin-bottom: 10px;
            }
        }
    }
    &-video-wrapper{
        flex: 1;

        box-shadow: 15px 15px 0 rgba(144, 39, 83, 0.4);

        .showcase-video{
            // background-image: url('../../assets/img/Group 46.png');

        }
    }
}


/* end of showcase  */


/* news  */
.news-section{
    padding: 0 100px;
    display: flex;

    .news-item{
        color: aliceblue;


        .news-text{
                display: flex;
                max-width: 300px;
                height: 100px;
            .news-text-date{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        button{
            //width: 200px;
        }
    }
}
/* end of news  */



/* partners  */
/* end of partners  */


/* features  */
.features-section{
    padding: 100px;
 
    height:600px;
 
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
    gap:10px;


 
    .features-item{
        position: relative;

        overflow: hidden;

        &-title{

        }

        &-overlay{
            position: absolute;

            bottom: -80%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 50px;

            transition: bottom 0.5s ease-in-out;

            &-title{
                text-align: left;
                margin-bottom: 10px;
            }

            &-p{
                //display: none;
            }
        }

        &:hover .features-item-overlay {
            bottom: 0px;
            background-color:rgba(0, 0, 0, 0.5);

            &-p{
                display: block;
            }
          }
        
    }
 
    .feature-1-of-4{
        background-image: url("../../assets/img/Group 43.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
 
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .feature-2-of-4{
        background-image: url("../../assets/img/Mask Group 31.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        grid-column: 3/5;
        grid-row: 1/2;
    }
    .feature-3-of-4{
        background-image: url("../../assets/img/Mask Group 32.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        grid-column: 3/4;
        grid-row: 2/3;
    }
    .feature-4-of-4{
        background-image: url("../../assets/img/Mask Group 33.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        grid-column: 4/5;
        grid-row: 2/3;
    }
}


/* end of features  */


/* vision  */
.visions-desktop {
    --display: none;

    margin-top: 2rem;
    display: var(--display);
     width: var(--container-width);
    //margin-inline: auto; 	


    @include lg {
        padding: 100px;

        --display: grid;

        display: var(--display);
        grid-template-columns:repeat(4,1fr) ;
        grid-template-rows:repeat(2,1fr) ;
        gap:1rem;
    }

    .visions-desktop__item {
        //box-sizing: border-box;
        --content-background-color: transparent;
        --content-height: 100px;
        --content-visibility: hidden;
        --content-opacity: 0;
        position: relative;
        border-radius: 0.25rem;
        border-bottom: solid var(--primary-color) 4px;
        min-height: 450px;
    }

    .visions-desktop__item:hover {
        //--content-background-color: rgba(var(--primary-color-rgb), 0.65);
        --content-background-color: tomato;
        --content-height: 50%;
        --content-visibility: visible;
        --content-opacity: 1;
    }

    .feature-1-of-4{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .feature-2-of-4{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .feature-3-of-4{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .feature-4-of-4{
        grid-column: 4/5;
        grid-row: 2/3;
    }
}

.visions-desktop__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.visions-desktop__content {
    box-sizing: border-box; // !!
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    background: var(--content-background-color);
    text-align: left;
    padding: 1rem 1rem;
    transition: all 0.3s ease-in-out;

    height: var(--content-height);
}

.visions-desktop__title {
    margin-bottom: 10px;
  @include md {
      --h3-font-size: 1.4rem;
  }

  @include xl {
      --h3-font-size: 1.9rem;
  }
}

.visions-desktop__text {
    margin: 0;
    position: relative;
    visibility: var(--content-visibility); //hidden  // visible when hovering
    opacity: var(--content-opacity); //0  //1 when hovering
    transition: all 0.3s ease-in-out;
}



/* end of vision  */

/* vision  before 
.visions-desktop {
    --display: none;

    margin-top: 2rem;
    display: var(--display);
     width: var(--container-width);
    margin-inline: auto; 	


  @include lg {
      --display: grid;
    
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
  }
}

.visions-desktop__item {
    --content-background-color: transparent;
    --content-height: 100px;
    --content-visibility: hidden;
    --content-opacity: 0;

    position: relative;
    border-radius: 0.25rem;
    border-bottom: solid var(--primary-color) 4px;
    min-height: 450px;
}

.visions-desktop__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.visions-desktop__content {
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    background: var(--content-background-color);
    text-align: center;
    padding: 1rem 0.5rem;
    transition: all 0.3s ease-in-out;

    height: var(--content-height);
}

.visions-desktop__title {
  @include md {
      --h3-font-size: 1.4rem;
  }

  @include xl {
      --h3-font-size: 1.9rem;
  }
}

.visions-desktop__text {
    margin: 0;
    position: relative;
  visibility: var(--content-visibility);
    opacity: var(--content-opacity);
  transition: all 0.3s ease-in-out;
}

.visions-desktop__item:hover {
    --content-background-color: rgba(var(--primary-color-rgb), 0.65);
    --content-height: 50%;
    --content-visibility: visible;
    --content-opacity: 1;
}

end of vision  */

