@use '../abstracts/index' as *;
@use '../base/grid' ;

/* Header */
.hero-banner{
    background-image: url("../../assets/img/Group 33.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    h1{
        width: 350px;
        padding: 150px 0 0 100px ;
    }
}



.subscribe-area{
    position: absolute;
    bottom: -100px;

    background-color: white;
    border-radius: 0 0 10px 10px;
    margin: 0 100px;
    height:200px;

    display: flex;
    padding: 0 30px 0 50px;
    left:0;
    right: 0;


    .subscribe-text{
        flex:3;

        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;

        background: url("../../assets/img/Group 39.png");
        background-position: center center;
        background-size: cover;
    }

    form{
        flex:7;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-input{
            display: flex;
            align-items: center;
        }
        label{
            visibility:hidden;
        }
        input{
            // height: 20px;
        }
        .input-submit{
            // height: 50px;
        }
    }
}

/* end of Header */


/* about */
.about-section{
    background-image: url("../../assets/img/Group 26@3x.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px 100px 0 100px;

    height: 500px;

    .about-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &-wrapper{
     
            h3{
                margin: 20px 0;
            }

            &-desc{
                display: flex;

                .about-deco-vertical{
                    width: 10px;
                    height:50px;
                    background-color: $primary-color;
                    margin-right: 20px;
                    border-bottom-right-radius: 10px;
                }

            }

        }
    }

    .about-history{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;

        @media screen and (max-width:1100px){
            flex-direction: column;
            justify-content: flex-start;
            align-items:flex-start;
         }
     

        .about-experience{

            margin-bottom: 50px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .years:after{
                border-bottom: 10px solid #FF8800;
                content: '';
                display: block;
                width: 100%;
                padding: 5px;
                margin: auto;
                margin-bottom: 20px;
            }
        }
        .about-milestones{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);

            .about-milestones-item {
                width: 300px;
                height: 200px;
                background-color: aqua;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                &:hover{
                    cursor: pointer;
                    background-color: #FF8800;
                    box-shadow: 0 15px 15px rgba(144, 39, 83, 0.4);

                }

            }
            .about-milestones-one-of-four{
                grid-row: 1/2;
                grid-row: 1/2;
            }
            .about-milestones-two-of-four{
                grid-row: 2/3;
                grid-row: 1/2;
            }
            .about-milestones-three-of-four{
                grid-row: 1/2;
                grid-row: 2/3;
            }
            .about-milestones-four-of-four{
                grid-row: 2/3;
                grid-row: 2/3;
            }
        }
    }
}
/* end of about */




/* contact */

#Contact{
    @include mediaQuery(780px){
        padding: 0px 2%;
    }
}
.contact-title-bg-left{
    width: 250px;
    height: 40px;
    background: rgba(161,198,220,0.3);

    position: relative;

    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;

    @include mediaQuery(780px){
        width: 500px;
        height: 50px;
       
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .contact-title-bg-right{
        width: 60vw;
        height: 40px;
        background: rgba(161,198,220,0.3);
    
        position:absolute;
        left: 100px;
        top: 10px;
    
        @include mediaQuery(780px){
            width: 80vw;
            height: 50px;
         
            left: 110px;
            top: 15px;
        }
    }
    h2{
        position:absolute;
        margin-top: 0px;
        top: 15px;
        left: 120px;

        @include mediaQuery(780px){
            top: 20px;
            left: 200px;
        }
    }
}


.contact-form {
    grid-column: 2/9;
    text-align: center;

    @include mediaQuery(780px){
        grid-column: 1/7;
    }
    @include mediaQuery(1200px){
        grid-column: 1/6;
    }
}
.contact-form {
    //width: 70%;
    [type="text"],[type="email"]{
         width: 70%;
         font-size: $font-size-placeholder;
    }
    [type="submit"]{
        width:20%;

    }
    textarea{
        width: 70%;
        height: 200px;
        margin-left: 30px;
        margin-top: 10px;
        &::placeholder {
            font-size: $font-size-placeholder;
          }
        
    
        @include mediaQuery(780px){
            height: 250px;
            margin-left: 40px;
            margin-top: 15px;
        }
    
    }
    
}





.contact-info{
    grid-column: 2/9;
    text-align: center; 

    @include mediaQuery(780px){
        grid-column: 7/12;
    }
    @include mediaQuery(1200px){
        grid-column: 6/12;
    }
}


.contact-form h4 .fas, .contact-info h4 .fas{
    margin-right: 10px;

    @include mediaQuery(780px){
        margin-right: 15px;
    }
}


.contact-content .fas{
    color: $primary-color;
}
.contact-info{
    margin:30px 0;
}
.contact-info #map{
    width: 100%;
    height: 300px;

    @include mediaQuery(780px){
        width: 100%;
        height: 330px;
    }
}

.contact-details{
    @include mediaQuery(1200px){
        display: flex;  
    }

}

.contact-details h4{
    @include mediaQuery(1200px){
        padding: 0 10px; 
    }
    
}